@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Yetki Hatası</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="d-sm-flex align-items-center mb-4">
        <h1>Bu sayfa için yetkiniz bulunmamaktadır.</h1>
    </div>
</div>
